.task_column {
  background: white;
  width: 300px;
  margin: 1.12em;
  border: 1px solid #d8d3cd;
  flex-direction: column;
  display: flex;
}

.task_list {
  padding: 0.4em;
  flex-grow: 1;
  min-height: 200px;
}

.task_title {
  height: 1.8em;
  width: inherit;
}

hr {
  background-color: #d8d3cd;
  height: 1px;
  border: 0;
}

.task_desc {
  margin-top: 0.6em;
  line-height: 1.3;
}

.task_container {
  margin-top: 1.12em;
  background: #e7e6e1;
  height: 100px;
  display: flex;
  border-radius: 0.8em;
  flex-direction: column;
  padding: 0.8em;
  border: solid 2px transparent;
  transition: all 0.2s ease-in;
}
.task_container:hover {
  border: 2px solid #bbbfca;

}
.column_options {
  padding: 0.4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #4c4c4c;
}

.column_title {
  font-weight: bold;
  width: 90%;
  background: inherit;
  outline: none;
  border: none;
  font-size: 1.2em;
  color: white;
}
.column_title:focus {
  background: #e7e6e1;
  border-radius: 0.2em;
  outline: 0;
  color: #000;
}
.add_task_btn {
  height: 28px;
  width: 28px;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 0.2em;
  font-weight: 500;
  cursor: pointer;
  background: #e7e6e1;
}
.task_info_popup {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.popup-content {
  border-radius: 10px;
}
.task_title_input {
  width: 90%;
  height: 2em;
  padding: 8px;
  background: #e7e6e1;
  border-radius: 0.8em;
  outline: 0;
  border: none;
}
.task_title_input:focus {
  outline: 0;
  border: 0;
}
.task_desc_input {
  width: 90%;
  resize: none;
  padding: 8px;
  background: #e7e6e1;
  border-radius: 0.8em;
  outline: 0;
  border: none;
}
.create_task_btn {
  height: 2.2em;
  width: 50%;
  background: #e7e6e1;
  outline: 0;
  border: none;
  cursor: pointer;
}
